/* -------MOBILE FIRST-------- */

 



.header
{
    height: 60vh;
    
}

.header_buttons
{
    display: none;
}

.mobile_catalog
{
    padding: 10px;
    position: relative;
    top: 5vh;
   
    text-align: center;
}

.mobile_catalog span
{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    
}

.mobile_catalog button 
{
    background-color: black;
    height: 40px;
    width: 80px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 10px;
}

.mobile_catalog button a
{
    text-decoration: none;
    color: white;
}

.products_main
{
    display: none;
}

.button_span
{
    display: none;
}

footer
{
    position: absolute;
    bottom: 0;
    width: 100vw;
}




/* ---------DESKTOPS AND TABLETS----------*/

@media only screen and (min-width:992px)
{
    /* hiding the mobile catalog */

    body
    {
        background-image: url('../images/background_products.png');
        background-position: center;
        background-size:cover;
    }
    .mobile_catalog
    {
        display: none;
    }

    /* reducing header size */

    .header
    {
        height: 15vh;
        background: none;
    }

    .header ul
    {
        top: 30%;
    }

    .header ul li a
    {
        color: black;
    }

    .header ul li a:hover
    {
        color: white;
        background-color: black;
    }


    .header_text
    {

        display: none;
        font-weight: 400;
        font-size: 2vw;
        top: 45%
    }

    /* Product catalog buttons */

    .products_button
    {
        text-align: center;
        opacity: 0;
        display: none;
        flex-direction: column;
        align-items: center;
        position: relative;
        /* background-color: red; */
        transition: 2s ease-in-out;
        /* left: 2vw; */
        top: 30vh;
    }
    .button_span
    {
        display: flex;
        position: relative;
        left: 2vw;
        top: 2vw;
        justify-content: space-evenly;
        /* border: 1px solid red; */
        width: 40%;
        height: 6vh;
        /* border: 1px solid red; */
        
    }

    

    .button_span button 
    {
        color: white;
        text-transform: uppercase;
        padding: 5px;
        font-size: 2vw;
        background-color: black;
        box-shadow: 5px 5px rgba(54, 53, 50, 0.605);
        transition: 1s ease-in;
        font-weight: 600;
        /* /* border: 1px solid red; */
    } 


    .button_span button:hover
    {
        color: black;
        background: white;

    }
    


    /* Products main */

    .products_main
    {
        display: none;
        opacity: 0;
        position: relative;
        /* top: 10vh; */
        /* border: 1px solid red; */
        justify-content: space-evenly;
        transition: 1s ease-in;
        /* border: 1px solid red; */
    }

    .products_title
    {
        color: black;
        font-size: 30px;
        text-transform: uppercase;
        padding: 20px;
        /* border: 1px solid red; */
    }

    .products_list
    {
        
        display: none;
        opacity: 0;
        flex-direction: column;
        transition: 1s ease-in;
        position: absolute;
        left: 15%;
        top: 4vh;
        /* border: 1px solid red; */
    }
    .products_list button
    {
        height: 7vh;
        margin-top:1vh;
        width: 11vw;
        text-transform: uppercase;
        font-weight: 600;
        color: white;
        background-color: black;
        box-shadow: 5px 5px rgba(54, 53, 50, 0.605);
        border: transparent;
        transition: 1s ease-in;
        /* border: 1px solid red; */
        
    }
    
    .products_list button:hover
    {
        color: black;
        background: white;
    }
    
    .drum_list
    {
        display: none;
        opacity: 0;

        /* border: 1px solid red; */
        
    }
    
    .barrel_list
    {
        display: none;
        opacity: 0;
        /* border: 1px solid red; */
    }

    .products_display
    {
        text-align: center;
        align-items: center;
        /* border: 1px solid  blue; */
        display: none;
        opacity: 0;
        width: 50vw;
        text-justify: auto;
        display: flex;
        flex-direction: column;
        position: relative;
        top: 4vh;
        left: 60px;
        transition: 1s ease-in-out;
        /* overflow: scroll; */
        /* border: 1px solid red; */
    }

    .products_display p 
    {
        padding: 20px;
        white-space: pre-line;
        width: fit-content;
        text-align: left;
        font-weight: 600;
        /* border: 1px solid red; */
    }

    .products_image
    {
        height: 30vh;
        width: 10vw;
        border: 5px solid black;
        box-shadow: 5px 5px rgba(87, 3, 31, 0.66);
        padding: 20px;
        /* border: 1px solid red; */
    }


    /* footer */

    footer
    {
        position: absolute;
        bottom: -20vh;
    }

    .footbar
    {
        /* border: 1px solid red; */
        width: 100vw;
    }

    

}